.theme-light {
  --color-background: #fff;
  --color-header: #000;
  --color-text: #000;
}

.theme-dark {
  --color-background: #121212;
  --color-header: #eee;
  --color-text: #ddd;
}

/*
  in order to get rid of the first initial transition from light to dark (if dark theme was detected)
  we need to add transition property only after background-color and color properties were changed by className change
*/
.theme-transition {
  transition: color 0.3s ease, background-color 0.3s ease;
}

body {
  background-color: var(--color-background);
}

h1, h2 {
  color: var(--color-header);
}

p, span, div {
  color: var(--color-text);
}
