.autocomplete-container {
  position: relative;
}

.autocomplete-input {
  max-width: 400px;
  width: 100%;
}

.autocomplete-dropdown {
  position: absolute;
  display: none;
  background: white;
  border: 1px solid black;
  z-index: 2;
  max-width: 400px;
  width: 100%;
}

.autocomplete-suggestion-item:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.autocomplete-dropdown-open {
  display: block;
}
