.autocomplete-container {
  position: relative;
}

.autocomplete-input {
  max-width: 400px;
  width: 100%;
}

.autocomplete-dropdown {
  position: absolute;
  display: none;
  background: white;
  border: 1px solid black;
  z-index: 2;
  max-width: 400px;
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
}

.autocomplete-suggestion-item {
  padding: 5px 8px;
}

.autocomplete-suggestion-item:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.autocomplete-suggestion-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.autocomplete-dropdown-open {
  display: block;
}
