.range-slider-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.range-slider-inputs-wrapper {
  display: grid;
  grid-template-rows: 20px;
  background-color: #ccc;
}

.range-slider-wrapper input[type="range"] {
  grid-column: 1;
  grid-row: 1;

  background: none;
  pointer-events: none;
  margin: 0 -10px;
}

.range-slider-wrapper input[type="range"]::-webkit-slider-runnable-track,
.range-slider-wrapper input[type="range"]::-webkit-slider-thumb,
.range-slider-wrapper input[type="range"] {
  -webkit-appearance: none;
}

/* info */
.range-slider-info {
  z-index: 3;
}

/* track */
.range-slider-track {
  content: "";
  position: absolute;
  top: -10px;
  height: 30px;
  /* init values will be set by javascript */
  left: 0px;
  right: 0px;
  background: #0F99F5;
}


/* thumb */
.range-slider-wrapper input[type="range"]::-webkit-slider-thumb {
  position: relative;
  background-color: black;
  border: none;
  border-radius: 0;
  pointer-events: auto;
  width: 20px; 
  height: 20px;
  z-index: 2;
}
