.tooltip {
  position: relative;

  display: inline-block;
  margin: 15px 0;
  text-decoration: underline;
}

/* 
 * .tooltip:before is tooltip content with background
 * .tooltip:after is a tooltip arrow 
 */
.tooltip:before,
.tooltip:after {
  /* position tooltip properly centered above hovering element */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  /* hide tooltip (display:none doesn't work in pseudo elements) */
  visibility: hidden;
  opacity: 0;

  /* add animation for appearance */
  transition: opacity 0.2s ease, visibility 0.2s ease;

  /* disable pointer events above tooltip */
  pointer-events: none;
}

.tooltip:before {
  /* add content from data-tooltip-text attribute */
  content: attr(data-tooltip-text);

  top: -30px;

  /* style tooltip */
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
  height: 24px;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* TODO: stretch tooltip by content width */
  width: 170px;
}

.tooltip:after {
  content: "";
  
  top: -6px;
 
  /* the arrow */
  border: 6px solid;
  
  /* top - right - bottom - left */
  border-color: rgba(0, 0, 0, 0.9) transparent transparent transparent;
}

.tooltip:hover:before,
.tooltip:hover:after {
  visibility: visible;
  opacity: 1;
}

/* additional styles for right & left positioned tooltips */
.tooltip-right:before,
.tooltip-right:after {
  top: 50%;
  left: calc(100% + 15px);
  transform: translateY(-50%);
}

.tooltip-right:after {
  left: calc(100% + 15px - 12px);

  /* top - right - bottom - left */
  border-color: transparent rgba(0, 0, 0, 0.9) transparent transparent;
}

.tooltip-left:before,
.tooltip-left:after {
  top: 50%;
  left: -15px;
  transform: translateY(-50%) translateX(-100%);
}

.tooltip-left:after {
  left: -3px;

  /* top - right - bottom - left */
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.9);
}
